@model IEnumerable<ClubChallengeBeta.App_Data.Club>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img class="user-tumb" src="@Url.Action("GetIcon", "Club", new { @id = item.ClubId })" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <!--TODO:SEXIER text style hue hue-->
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                <a class="fa fa-ban" href="@Url.Action("Edit", "Club")"></a>
                <a href="@Url.Action("Details", "Club")">a</a>
                <a href="@Url.Action("Delete", "Club")">a</a>
            </td>
        </tr>
    }

</table>
