@model ClubChallengeBeta.Models.ClubSearchViewModel
@if (ViewBag.ClubUser && !Model.HasClub)
{
    <p>
        <br />
        <a class="btn btn-mini btn-primary pull-right" href="@Url.Action("Create")"><i class="icon ion-ios-people"></i>Create your own club</a>
    </p>

}
<br />
<br />
<table class="table">
    <tr>
        <th>

        </th>
        <th>
            Club Name
        </th>
        <th>
            Owner
        </th>
        <th>
            Text
        </th>
        <th>
            Users
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Clubs)
    {
        <tr>
            <td>
                <img class="user-tumb" src="@Url.Action("GetIcon", "Club", new { @id = item.ClubId })" />
            </td>
            <td>
                @if (item.OwnClub)
                {
                    <i class="glyphicon glyphicon-star"></i>
                }
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerName)
            </td>
            <td>
                <!--TODO:SEXIER text style hue hue-->
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsersCount)
            </td>
            <td>
                <a class="glyphicon glyphicon-search" href="@Url.Action("Details", "Club", new { @id = item.ClubId })"></a>
            </td>
        </tr>
    }

</table>
