@model IEnumerable<ClubChallengeBeta.Models.SimpleUserViewModel>
@using Microsoft.AspNet.Identity
<br />
<p><b>Members in @ViewBag.ClubName</b></p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        {
    ViewBag.Title = item.UserName;
    }
        <tr>
            <td>
                <img class="user-icon" src="@Url.Action("GetImage", "Account", new { @id = item.UserId })" title="@ViewBag.Title"/>
                @if (item.IsOwner)
                {
                    <i class="glyphicon glyphicon-star"></i>
                }

                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a class="glyphicon glyphicon-search" href="@Url.Action("Details", "UsersClub", new { @id = item.UserId })" title="View Profile"></a>
                @if (User.Identity.GetUserId() != item.UserId)
                {
                    <a class="icon ion-person" href="@Url.Action("Challenge", "UsersClub", new { @id = item.UserId })"> </a>
                    <a class="modal-link icon ion-person-add" href="@Url.Action("MultiChallenge", "UsersClub", new { @id = item.UserId })"></a>

                    if (ViewBag.isOwner)
                    {
                        <a class="fa fa-ban fa-lg" href="@Url.Action("Kick", "UsersClub", new { @id = item.UserId })"></a>
                    }
                }

            </td>
        </tr>
    }
</table>
