@using Microsoft.AspNet.Identity
@using ClubChallengeBeta.Utils

<ul class="nav navbar-nav navbar-right">
    @if (Request.IsAuthenticated)
    {
        if (NavbarUtils.IsClubUser(User.Identity.GetUserId()))
        {
            <li>
                <a class="ion-email-unread" title="Waiting Approval"style="font-size: 20px;" href="@Url.Action("WaitingApproval", "Challenges")">@NavbarUtils.PendingChallenges(User.Identity.GetUserId())</a>
            </li>
        }
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <img class="user-icon" src="@Url.Action("GetImage", "Account", new { @id = User.Identity.GetUserId() })" />
                @User.Identity.GetUserName()
            <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Account", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                <li class="divider"></li>
                <li>
                    <a class="icon icon ion-ios-people" href="@Url.Action("Index", "UsersClub")"> My Club</a>
                </li>
                <li>
                    <a class="icon ion-ios-tennisball-outline" href="@Url.Action("Index", "Challenges")"> My Challenges</a>
               </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-ban"> Log off</i></a></li>

            </ul>
        </li>
    }
    else
    {
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

    }
</ul>
@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", style = "dispaly:none;" }))
{
    @Html.AntiForgeryToken() }