@model ClubChallengeBeta.Models.MyChallengesViewModel
@using Microsoft.AspNet.Identity
<br />
<p><b>My Challenges in @ViewBag.ClubName</b></p>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#single">Singles Challenges</a></li>
    <li><a data-toggle="tab" href="#multi">Team Challenges</a></li>
</ul>
<div class="tab-content">
    <div id="single" class="tab-pane fade in active">
        <table class="table">
            <tr>
                <th>
                    Challenger
                </th>
                <th>

                </th>
                <th>
                    Opponent
                </th>
                <th>
                </th>
                <th>
                    Result
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.SingleChallenges)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User1Name)
                    </td>
                    <td>
                        @if (item.User1Accepted)
                        {
                            <i class="icon ion-ios-tennisball"></i>
                        }
                        else
                        {
                            <i class="icon ion-ios-tennisball-outline"></i>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User2Name)
                    </td>
                    <td>
                        @if (item.User2Accepted)
                        {
                            <i class="icon ion-ios-tennisball"></i>
                        }
                        else
                        {
                            <i class="icon ion-ios-tennisball-outline"></i>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Result)
                        <br />
                        @if (item.PendingApproval)
                        {
                            @Html.DisplayFor(modelItem => item.ScoreText)
                        }
                    </td>
                    <td>
                        @if (item.CanAcceptReject)
                        {
                            <a class="fa fa-lg fa-thumbs-up" href="@Url.Action("Accept", "SingleChallenges", new { id = item.SinglesChallengeId })" title="Accept challenge"></a>
                            <a class="fa fa-lg fa-thumbs-down" href="@Url.Action("Reject", "SingleChallenges", new { id = item.SinglesChallengeId })" title="Reject challenge"></a>
                        }
                        else if (item.PendingAcceptance)
                        {
                            <i class="fa fa-lg fa-lightbulb-o " title="Waiting for another user"></i>
                        }
                        else if (item.CanDeclareWin)
                        {
                            <a class="modal-link fa fa-lg fa-diamond" href="@Url.Action("ClaimVictory", "SingleChallenges", new { @id = item.SinglesChallengeId })" title="Claim Victory"></a>
                        }
                        else if (item.PendingAcceptance && item.IsWinner)
                        {
                            <i class="fa fa-lg fa-smile-o"></i>
                        }
                        else if (item.PendingAcceptance && !item.IsWinner)
                        {

                            <i class="fa fa-lg fa-frown-o"></i>
                        }
                    </td>
                </tr>
            }

        </table>

    </div>
    <div id="multi" class="tab-pane fade">
        <table class="table">
            <tr>
                <th>
                    Challengers
                </th>
                <th>

                </th>
                <th>
                    Opponents
                </th>
                <th>
                </th>
                <th>
                    Result
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.TeamChallenges)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User1Name)
                        <br />
                        @Html.DisplayFor(modelItem => item.User2Name)
                    </td>
                    <td>
                        @if (item.User1Accepted)
                        {
                            <i class="icon ion-ios-tennisball"></i>
                        }
                        else
                        {
                            <i class="icon ion-ios-tennisball-outline"></i>
                        }
                        <br />
                        @if (item.User2Accepted)
                        {
                            <i class="icon ion-ios-tennisball"></i>
                        }
                        else
                        {
                            <i class="icon ion-ios-tennisball-outline"></i>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User3Name)
                        <br />
                        @Html.DisplayFor(modelItem => item.User4Name)
                    </td>
                    <td>
                        @if (item.User3Accepted)
                        {
                            <i class="icon ion-ios-tennisball"></i>
                        }
                        else
                        {
                            <i class="icon ion-ios-tennisball-outline"></i>
                        }
                        <br />
                        @if (item.User4Accepted)
                        {
                            <i class="icon ion-ios-tennisball"></i>
                        }
                        else
                        {
                            <i class="icon ion-ios-tennisball-outline"></i>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Result)
                        <br />
                        @if (item.PendingApproval)
                        {
                            @Html.DisplayFor(modelItem => item.ScoreText)
                        }
                    </td>
                    <td>
                        @if (item.CanAcceptReject)
                        {
                            <a class="fa fa-lg fa-thumbs-up" href="@Url.Action("Accept", "TeamChallenges", new { id = item.TeamChallengeId })" title="Accept challenge"></a>
                            <a class="fa fa-lg fa-thumbs-down" href="@Url.Action("Reject", "TeamChallenges", new { id = item.TeamChallengeId })" title="Reject challenge"></a>
                        }
                        else if (item.PendingAcceptance)
                        {
                            <i class="fa fa-lg fa-lightbulb-o " title="Waiting for another user"></i>
                        }
                        else if (item.CanDeclareWin)
                        {
                            <a class="modal-link fa fa-lg fa-diamond" href="@Url.Action("ClaimVictory", "TeamChallenges", new { @id = item.TeamChallengeId })" title="Claim Victory"></a>
                        }
                        else if (item.PendingApproval && item.IsWinner)
                        {
                            <i class="fa fa-lg fa-smile-o"></i>
                        }
                        else if (item.PendingApproval && !item.IsWinner)
                        {

                            <i class="fa fa-lg fa-frown-o"></i>
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
</div>