@model ClubChallengeBeta.Models.MyChallengesViewModel
@using Microsoft.AspNet.Identity
<br />
<p><b>Challenges in @ViewBag.ClubName</b></p>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#single">Singles Challenges</a></li>
    <li><a data-toggle="tab" href="#multi">Team Challenges</a></li>
</ul>
<div class="tab-content">
    <div id="single" class="tab-pane fade in active">
        <table class="table">
            <tr>
                <th>
                    Challenger
                </th>
                <th>

                </th>
                <th>
                    Opponent
                </th>
                <th>
                </th>
                <th>
                    Result
                </th>
            </tr>

            @foreach (var item in Model.SingleChallenges)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User1Name)
                    </td>
                    <td>
                        @if (item.User1Accepted)
                        {
                            <i class="icon ion-ios-tennisball"></i>
                        }
                        else
                        {
                            <i class="icon ion-ios-tennisball-outline"></i>
                        }
                        @if (item.WinnerId == item.User1Id)
                        {
                            <i class="ion-ios-star" title="Winner"></i>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User2Name)
                    </td>
                    <td>
                        @if (item.User2Accepted)
                        {
                            <i class="icon ion-ios-tennisball"></i>
                        }
                        else
                        {
                            <i class="icon ion-ios-tennisball-outline"></i>
                        }
                        @if (item.WinnerId == item.User2Id)
                        {
                            <i class="ion-ios-star" title="Winner"></i>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Result)
                        <br />
                        @if (item.ScoreText != null)
                        {
                            @Html.DisplayFor(modelItem => item.ScoreText)
                        }
                    </td>
                </tr>
            }

        </table>

    </div>
    <div id="multi" class="tab-pane fade">
        <table class="table">
            <tr>
                <th>
                    Challengers
                </th>
                <th>

                </th>
                <th>
                    Opponents
                </th>
                <th>
                </th>
                <th>
                    Result
                </th>
            </tr>

            @foreach (var item in Model.TeamChallenges)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User1Name)
                        <br />
                        @Html.DisplayFor(modelItem => item.User2Name)
                    </td>
                    <td>
                        @if (item.User1Accepted)
                        {
                            <i class="icon ion-ios-tennisball"></i>
                        }
                        else
                        {
                            <i class="icon ion-ios-tennisball-outline"></i>
                        }
                        <br />
                        @if (item.User2Accepted)
                        {
                            <i class="icon ion-ios-tennisball"></i>
                        }
                        else
                        {
                            <i class="icon ion-ios-tennisball-outline"></i>
                        }
                        @if (item.Winner1Id == item.User1Id)
                        {
                            <i class="ion-ios-star" title="Winner"></i>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User3Name)
                        <br />
                        @Html.DisplayFor(modelItem => item.User4Name)
                    </td>
                    <td>
                        @if (item.User3Accepted)
                        {
                            <i class="icon ion-ios-tennisball"></i>
                        }
                        else
                        {
                            <i class="icon ion-ios-tennisball-outline"></i>
                        }
                        <br />
                        @if (item.User4Accepted)
                        {
                            <i class="icon ion-ios-tennisball"></i>
                        }
                        else
                        {
                            <i class="icon ion-ios-tennisball-outline"></i>
                        }
                        @if (item.Winner1Id == item.User3Id)
                        {
                            <i class="ion-ios-star" title="Winner"></i>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Result)
                        <br />
                        @if (item.ScoreText != null)
                        {
                            @Html.DisplayFor(modelItem => item.ScoreText)
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
</div>