@model ClubChallengeBeta.App_Data.SingleChallenge

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SingleChallenge</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User1Accepted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User1Accepted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User2Accepted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User2Accepted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Result)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser1.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser1.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser2.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser2.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SinglesChallengeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
